extends ../template/layout

block content
  h1= title
  h2 People Page
  p: a(href='/') Home
  p: a(href='/people/new') New Person
  - var person = people[0]

  if person
    table#People
      thead: tr
        each value, property in person
          th= property
      tbody
        each person, index in people
          tr(id=person.name, style='background-color: #{person.color}')
            each value, property in person
              td(class=property)= value