extends ../template/layout

block content
  .row
    .small-12.columns
      h1.subheader Movies Page
      a(href='/').button.radius Home
  .row
    .small-12.columns
      - var movie = movies[0]
      if movie
        table#movies
          thead: tr
            each value, property in movie
              unless value instanceof Function || property === 'gross'
                if property === 'numTheatres'
                  th= 'number of theatres'
                else
                  th= property
            th gross per theatre
            th gross
          tbody
            each movie in movies
              tr
                each value, property in movie
                  unless value instanceof Function || property === 'gross'
                    case property
                      when 'image': td: img(src=movie.image)
                      when 'color': td: div.colorBox(style='background-color: #{movie.color}; height: 133px')
                      default: td= value
                td= movie.grossPerTheatreUSD()
                td= movie.grossUSD()
                td
                  form(action='/movies/#{movie.title}', method='post')
                    input(type='hidden', name='_method', value='delete')
                    button.tiny.alert(type='submit') Delete
