extends ../template/layout

block content
  .row
    .small-12.columns
  .row
    .small-4.columns
      .artist
        a(href="http://"+artist.website)
          img#bioPhoto(src=artist.photo)
          h6.subheader= artist.website
    .small-8.columns
      h2.subheader= artist.name
      p#bio= artist.bio
  .row
    .small-12.columns
      h4 Songs:
      for song in artist.songs
        .song
          a(href='/songs/#{song.id}')
            img(src=song.art)
          h6.subheader= song.title