table#todos
  thead
    tr
      th Title
      th Due Date
      th Priority
      th
  tbody
    each todo in todos
      tr(style='background-color:#{todo.priority.color}', data-id=todo.id)
        td= todo.title
        td= moment(todo.dueDate).format('dddd, MMMM Do YYYY')
        td= todo.priority.name
        td: button.radius.small.delete Delete

