table#todos
  thead
    tr
      th Complete?
      th Title
      th Due Date
      th Priority
      th
  tbody
    each todo in todos
      tr(style='background-color:#{todo.priority.color}', data-id=todo.id)
        td: input(type='checkbox', value='complete')
        td= todo.title
        td= moment(todo.dueDate).format('dddd, MMMM Do YYYY')
        td= todo.priority.name
        td
          form(action='/todos/#{todo.id}', method='post')
            input(type='hidden', name='_method', value='delete')
            button.small.expand.radius.alert.delete(type='submit') Delete
